@CHARSET "UTF-8";
/*
 rose: rgb(204, 51, 102)
 gris: rgb(16, 15, 19)
 mauve: rgb(41, 15, 39)
 jaune: rgb(255, 216, 25)
 textNoir: rgb(36, 31, 11)
 gris: rgb(46, 46, 46)
 */
body {
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 16px;
	background-color: rgb(16, 15, 20);
	font-family: 'Balthazar', serif;
	padding-bottom: 1em; /*16px/16px*/
}

#header {
	padding-top: 2.5em; /* 40 / 16 */
	padding-right: 0.5em; /* 8 / 16 */
	background-color: rgb(255, 216, 25); /*jaune*/
	color: rgb(46, 46, 46); /*gris*/
	font-family: 'Sorts Mill Goudy', serif;
	text-align: right;
}

#header a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
}

#titre {
	margin: 0;
	font-size: 2em; /*48/16*/
}

#soustitre {
	margin: 0;
	margin-bottom: 1em; /* 20 / 20 */
	font-size: 1.25em; /* 20 / 16 */
}

#titre, #soustitre {
  text-shadow: 5px 5px rgba(46, 46, 46, 0.05);
}

/**
 * Menu
 */
#menu {
	padding: 0 !important;
	margin: 0 !important;
}

#menu li {
	float: left;
	list-style: none outside none;
	opacity: 1;
}

#menu li a {
	border-left: 1px solid #FFFFFF;
	color: white;
	display: block;
	height: 1.2em;
	padding: 0.25em 0.2em 0.25em 0.2em;
	text-decoration: none;
	width: auto;
	background-color: rgb(204, 51, 102); /*rose*/
}

#menu li a:hover {
	background-color: rgb(224, 71, 122); /*rose clair*/
}

#menu li.first a {
	border-left: none;
}

#menu li.last a {
	-webkit-border-top-right-radius: 0.6em;
	-moz-border-top-right-radius: 0.6em;
	border-top-right-radius: 0.6em;
}

/**
 * Contenu
 */
#content {
	padding: 0.625em 0.625em 0.625em 0.625em;
	font-family: 'Gruppo', serif;
	text-align: justify;
	color: white;
	background-color: rgba(41, 15, 39, 0.8); /*mauve*/
}

#content h1, #content h2 {
	text-align: left;
}

#content img {
	border: 2px solid rgb(255, 216, 25); /*jaune*/
}

#content h2 {
	color: rgb(204, 51, 102); /*rose*/
}

#content a {
	color: rgb(255, 216, 25); /*jaune*/
}

#content a:hover {
	color: rgb(204, 51, 102); /*rose*/
}

#content img.incrust {
	width: 100%;
	margin: 0 1em 0 0;
}


/**
 * Pied de page
 */
#footer {
	text-align: center;
	padding-top: 0.5em;
	margin: 0;
}

#footer .addr {
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	padding-bottom: 0.3em;
}

#footer .abus {
	color: rgb(204, 51, 102); /*rose*/
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer a:hover {
	color: inherit;
	text-decoration: underline;
}

/**
 * Signature
 */
#signature {
	font-family: 'Herr Von Muellerhoff' !important;
	padding: 0;
	margin: 0;
	font-size: 1.6em;
	width: 7em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
}

@media only screen and (min-width: 27em) {
#menu li a {
	padding: 0.25em 1em 0.25em 1em;
}

}

@media only screen and (min-width: 52em) {
body {
	padding-top: 3.125em; /*50px/16px*/
	padding-bottom: 3.125em; /*50px/16px*/
}

#incrustation {
	left: 0;
	top: 0;
	bottom: 0;
	right: 6.25em; /*100/16*/
	position: fixed;
	z-index: -9999;
	background: url("img/right_logo.jpg") no-repeat transparent;
	background-position: right;
}

#layout {
	width: 98%; /*960 / 16*/
	margin-left: auto;
	margin-right: auto;
}

/**
 * En tête
 */
#header {
	padding-right: 6.25em; /*100/16*/
	-moz-border-top-right-radius: 0.6em;
	-moz-border-top-left-radius: 0.6em;
	-webkit-border-top-left-radius: 0.6em;
	-webkit-border-top-right-radius: 0.6em;
	border-top-left-radius: 0.6em;
	border-top-right-radius: 0.6em;
}

#logo {
	padding-left: 3.125em; /*50/16*/
}

#titre {
	font-size: 3em; /*48/16*/
}

/**
 * Contenu
 */
#content {
	padding: 0.625em 2em 2em 2em;
	-webkit-border-bottom-right-radius: 0.6em;
	-webkit-border-bottom-left-radius: 0.6em;
	-moz-border-bottom-right-radius: 0.6em;
	-moz-border-bottom-left-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
	border-bottom-left-radius: 0.6em;
}

#content img.incrust {
	width: 22em;
	float: left;
}

/**
 * Pied de page
 */
#footer {
	padding-top: 2em;
}

/**
 * Signature
 */
#signature {
	margin-right: 4.4em;
}


}


@media only screen and (min-width: 60em) {
#layout {
	width: 60em; /*960 / 16*/
}
}