@CHARSET "UTF-8";

@media screen, handheld {
	.rose {
		color: rgb(204, 51, 102);
	}
	.gris {
		color: rgb(16, 15, 19);
	}
	.mauve {
		color: rgb(41, 15, 39);
	}
	.jaune {
		color: rgb(255, 216, 25);
	}
	.textNoir {
		color: rgb(36, 31, 11);
	}
	.gris {
		color: rgb(46, 46, 46);
	}
	body {
		margin: 0px;
		padding: 0px;
		color: white;
		font-size: 16px;
		background-color: rgb(16, 15, 20);
		font-family: 'Balthazar', serif;
		padding-bottom: 1em; /*16px/16px*/
	}
	#layout {
		-webkit-transform: translateZ(0);
		overflow: hidden;
	}
	#header {
		padding-top: 2.5em; /* 40 / 16 */
		padding-right: 0.5em; /* 8 / 16 */
		background-color: rgb(255, 216, 25); /*jaune*/
		color: rgb(46, 46, 46); /*gris*/
		font-family: 'Sorts Mill Goudy', serif;
		text-align: right;
	}
	#header a {
		text-decoration: none;
		color: inherit;
	}
	#menu a:hover {
		text-decoration: underline;
	}
	#logo {
		float: left;
	}
	#titre {
		margin: 0;
		font-size: 2em; /*48/16*/
	}
	#soustitre {
		margin: 0;
		margin-bottom: 1em; /* 20 / 20 */
		font-size: 1.25em; /* 20 / 16 */
	}
	#titre,#soustitre {
		text-shadow: 5px 5px rgba(46, 46, 46, 0.05);
	}

	/**
 * Menu
 */
	#menu {
		padding: 0 !important;
		margin: 0 !important;
		font-weight: bold;
	}
	#menu li {
		float: left;
		list-style: none outside none;
		opacity: 1;
	}
	#menu li a {
		border-left: 1px solid #FFFFFF;
		color: white;
		display: block;
		height: 1.2em;
		padding: 0.25em 0.2em 0.25em 0.2em;
		text-decoration: none;
		width: auto;
		background-color: rgb(204, 51, 102); /*rose*/
	}
	#menu li a:hover {
		background-color: rgb(224, 71, 122); /*rose clair*/
	}
	#menu li.first a {
		border-left: none;
	}
	#menu li.last a {
		-webkit-border-top-right-radius: 0.6em;
		-moz-border-top-right-radius: 0.6em;
		border-top-right-radius: 0.6em;
	}

	/**
 * Contenu
 */
	#content {
		padding: 0.625em 0.625em 0.625em 0.625em;
		font-family: 'Gruppo', serif;
		text-align: justify;
		color: white;
		background-color: rgb(41, 15, 39); /*mauve*/
		font-size: 1.1em;
	}
	#content p {
		font-weight: bold;
	}
	#content h1,#content h2 {
		text-align: left;
	}
	#content img {
		border: 2px solid rgb(255, 216, 25); /*jaune*/
	}
	#content h2 {
		color: rgb(204, 51, 102); /*rose*/
	}
	#content a {
		color: rgb(255, 216, 25); /*jaune*/
	}
	#content a:hover {
		color: rgb(204, 51, 102); /*rose*/
	}
	#content img.incrust {
		width: 100%;
		margin: 0 1em 1em 0;
	}
	#content ul {
		margin: 0;
		padding-left: 1em;
		color: rgb(255, 216, 25); /*jaune*/
		list-style: square;
		list-style-position: inside;
		font-weight: bold;
	}
	#content table {
		margin: 0;
		white-space: nowrap;
		font-weight: bold;
		border-spacing: 0;
		border-collapse: collapse;
		margin: 1em;
		margin-left: 1.5em;
		width: 90%;
	}
	#content td {
		border-top: 1px solid rgba(150, 150, 150, 0.8);
		margin: 0;
		padding: 0;
		padding-left: 0.5em;
		padding-bottom: 0.2em;
		padding-top: 0.3em;
		color: rgb(204, 51, 102);
		text-align: right;
		color: rgb(204, 51, 102);
	}
	#content tr:FIRST-CHILD td {
		border-top: none;
	}
	#content td:FIRST-CHILD {
		text-align: left;
		padding: 0;
		color: rgb(255, 216, 25); /*jaune*/
	}
	#carte {
		width: 90%;
		background-color: rgba(150, 150, 150, 0.2);
		border: 1px dashed rgba(150, 150, 150, 0.8);
		margin-left: auto;
		margin-right: auto;
		padding: 0.4em;
	}

	/**
 * Pied de page
 */
	#footer {
		text-align: center;
		padding-top: 0.5em;
		margin: 0;
	}
	#footer .addr {
		font-size: 0.8em;
		padding: 0;
		margin: 0;
		padding-bottom: 0.3em;
	}
	#footer .abus {
		color: rgb(204, 51, 102); /*rose*/
		font-size: 0.8em;
		padding: 0;
		margin: 0;
	}
	#footer a {
		color: inherit;
		text-decoration: none;
	}
	#footer a:hover {
		color: inherit;
		text-decoration: underline;
	}

	/**
 * Signature
 */
	.signature {
		white-space: nowrap;
		font-family: 'Herr Von Muellerhoff' !important;
		padding: 0;
		margin: 0;
		font-size: 1.6em;
		width: 7em;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
	}
	
	.signature.info {
		float: right;
		clear: right;
		margin-right: 10%;
		/* margin: 0 15% 0 auto;
		clear: both; */
	}
	
	.text.info {
		text-transform: uppercase;
	}
	
	.clear {
		clear: both;
	}
	
	/*Suppression des tarifs*/
	#menu li:nth-child(4) {
		display: none;
	}
}

@media screen and (min-width: 27em) {
	#menu li a {
		padding: 0.25em 1em 0.25em 1em;
	}
	#content table {
		width: 25em; /*400/16*/
		margin-left: auto;
		margin-right: auto;
	}
}