@CHARSET "UTF-8";

@media print {

	#menu {
		display: none;
	}

	#carte {
		width: 90%;
		background-color: rgba(150, 150, 150, 0.2);
		border: 1px dashed rgba(150, 150, 150, 0.8);
		margin-left: auto;
		margin-right: auto;
		padding: 0.4em;
	}

	/**
 * Pied de page
 */
	#footer {
		text-align: center;
	}

	/**
 * Signature
 */
	#signature {
		font-family: 'Herr Von Muellerhoff' !important;
		padding: 0;
		margin: 0;
		font-size: 1.6em;
		width: 7em;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		-moz-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
	}
}

